<!-- 
Custom server side script is used to fetch data from the remote REST API server,
handlebars to render html and phantom-pdf recipe to convert html into pdf.
The template also uses helper function toJSON defined in global helpers asset.

It requires allowed http module in scripts in the configuration file:
"scripts": { "allowedModules": ["http"] }
!-->
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js'></script>
  </head>
  <body>
    <h1>{{country}}</h1>
    
    <canvas id='orders' style="margin-top:30px"></canvas>
    <table class="table striped">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>ShipAddress</th>
                <th>ShipCity</th>
                <th>ShipCountry</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{OrderID}}</td>
                <td>{{ShipAddress}}</td>
                <td>{{ShipCity}}</td>
                <td>{{ShipCountry}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
   
  </body>
</html>



